<div class="view_query_chain">
  <div class="container-custom">
    <div class="question">
      <%= render 'posts/show_single_post', post: @post, show_full_post: true %>
      <br>
      <% @comments.each do |comment| %>
      <div class="transparent-panel activity_comment ">
        <div class="left clearfix">
          <span>
            <%= render 'posts/render_image_for_comment', post: @post, comment: comment %>
          </span>

          <div class="right clearfix">
            <div class="header">
              <p class="user-name user-link">
                <% if @post.is_anonymous && comment.user_id == @post.user_id %>
                <%= "The anonymous" %>
                <% else %>
                <%= link_to comment.user.full_name, user_path(comment.user.id), class: '' %>
                <% end %>
              </p>
              <p class=" user-time"><%=timeago_tag comment.created_at%> </p>
              <span class="user-post multiline_text"><%=comment.comment_string%></span>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="gan_pagination">
        <div class="internal_pagination">
          <%= will_paginate @comments, renderer: BootstrapPagination::Rails  %>
        </div>
      </div>
      <div class="form-group add_comment">
        <%= form_for :comment, :url => comments_path(), :method => "POST" do |f| %>
        <input type="hidden" name="[post][id]" value= <%= @post.id %>>
        <input type="hidden" name="[post][post_type]" value= <%= @post.post_type %>>
        <textarea rows="3" class="form-control" id="query_tags" placeholder="Write a comment" name="comment[comment_string]" required="true"></textarea>
        <%= submit_tag("Add", {class: "background-seagreen edit_post btn btn-submit add_comment_button"}) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="edit_history_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit history (Oldest first) </h4>
      </div>
      <div class="modal-body">
        <%= image_tag 'loading.gif', class: 'loading' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  bind_edit_history_modal_click("<%=@post.id%>");
  style_tags('.user-tags');
</script>
