<div class="container-custom">
  <p class="faqs_header">
    Before you ask a new question, do check these questions. This list contains questions which are generally asked. This is an ongoing list, so your question (with an appropriate answer) may be added to this list.
  </p>

  <div class="faqs_body">
    <% @faqs.each_with_index do |faq, index| %>
    <div class="faq">
      <p class="faq_question toggle_faq_answer_<%= index %>">
        <%= faq.question %>
      </p>
      <p class="faq_answer faq_answer_<%= index %>">
        <%= faq.answer  %>
      </p>
    </div>
    <% end %>
  </div>
  <div class="digg_pagination transparent-panel">
    <%= will_paginate @faqs, :container => false %>
  </div>
</div>

<script type="text/javascript">
  bind_event_to_faq_questions("<%= @faqs.count %>");
</script>
