<div class="faqs-page">
  <div class="container-custom">
    <div class="faqs_header ">
      <h1>FAQ's</h1>
    </div>

    <div class="faqs_body ">
      <% @faqs.each_with_index do |faq, index| %>
      <div class="faq glass-panel">
        <p class="faq_question toggle_faq_answer_<%= index %>">
          <%= faq.question %>
        </p>
        <p class="faq_answer faq_answer_<%= index %> multiline_text"><%= faq.answer %></p>
      </div>
      <% end %>
    </div>

    <div class="gan_pagination">
      <div class="internal_pagination">
        <%= will_paginate @faqs, renderer: BootstrapPagination::Rails  %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  bind_event_to_faq_questions("<%= @faqs.count %>");
</script>
