<div class="view_query_chain">
  <div class="container-custom">
    <div class="question">
      <div class="transparent-panel activity_question clearfix">
        <div class="left_div">
          <img src="/assets/logov2.png" alt="profile pic" class="img-circle public_activity_user">
        </div>
        <div class="right_div">
          <p class="user-name user-link"> <%= link_to asked_by(@post.user), user_path(@post.user.id), class: '' %> shared an experience</p>
          <p class="user-time"><%=timeago_tag Time.at(@post.created_at) %></p>
        </div>
        <span class="user-post multiline_text"><%= @post.query_string.strip %></span>
        <div class="user-tags"><%= @post.tags%></div>

        <% if @post.user_id == current_user.id %>
        <%= link_to "Edit post", edit_experience_path(@post.id), class: 'edit_post background-seagreen' %>
        <% end %>
      </div>

      <% @post.comments.each do |comment| %>

      <div class="transparent-panel activity_comment ">
        <div class="left clearfix"><span><img src="/assets/logov2.png" alt="profile pic" class="img-circle public_activity_user comment-img pull-left" ></span>

          <div class="right clearfix">
          <div class="header">
            <p class="user-name user-link"><%= link_to comment.user.full_name, user_path(comment.user.id), class: '' %></p>
            <p class=" user-time"><%=timeago_tag comment.created_at%> </p>
            <span class="user-post multiline_text"><%=comment.comment_string%></span>
          </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="form-group add_comment">
        <%= form_for :comment, :url => comments_path(), :method => "POST" do |f| %>
        <input type="hidden" name="[post][id]" value= <%= @post.id %>>
        <input type="hidden" name="[post][post_type]" value= <%= Comment::POST_TYPE[:EXPERIENCE] %>>
        <textarea rows="3" class="form-control" id="query_tags" placeholder="Write a comment" name="comment[comment_string]"></textarea>
        <%= submit_tag("Add", {class: "background-seagreen edit_post btn btn-submit add_comment_button"}) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  style_tags('.user-tags');
</script>
