<div class="page_notify">
<br><br><br>
	<div class="container-custom">
		<div class="row">

			<div class="col-md-6 col-sm-6 col-xs-12">
				<h2>Your notifications</h2>
				<% @unread_nfs.each do |notification| %>
				<div class="notification">
					<p class="<%=notification.inspect%>">
						<%= link_to User.find(notification["commenter_id"]).full_name, user_path(notification["commenter_id"])%>
						<%= notification["text"] %>
						<%= link_to notification["type"], post_path(notification["post_id"]) %>
					</p>
					<i> <%=timeago_tag Time.at(notification["timestamp"]) %> </i>
				</div>
				<% end %>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12">
				<h2>Old notifications</h2>
				<% @read_nfs.each do |notification| %>
				<div class="notification">
					<p class="<%=notification.inspect%>">
						<%= link_to User.find(notification["commenter_id"]).full_name, user_path(notification["commenter_id"])%>
						<%= notification["text"] %>
						<%= link_to notification["type"], post_path(notification["post_id"]) %>
					</p>
					<i> <%=timeago_tag Time.at(notification["timestamp"]) %> </i>
				</div>
				<% end %>
			</div>	

		</div>		
	</div>
</div>
