<div class="page_notify">
	<br><br><br>
	<div class="container-custom">
		<div class="row">

			<div class="col-md-12 col-sm-12 col-xs-12 ">
				<h2>Your notifications</h2>
				<% @notifications.each do |notification| %>
				<div class="activity_notify ">
					<div class="left_div">
						<% if notification['post_type'] == Comment::POST_TYPE[:QUESTION] && is_anonymous(notification['post_id']) && is_owner(notification['post_id'], notification['commenter_id']) %>
						<%= image_tag "anonymous.jpg", class: 'img-circle public_activity_user', alt: 'profile pic' %>
						<% elsif user_has_avatar?(notification['commenter_id']) %>
						<%= image_tag User.find(notification['commenter_id']).avatar.url(:large), class: 'img-circle public_activity_user' %>
						<% else %>
						<%= image_tag 'logov2.png', class: 'img-circle public_activity_user'  %>
						<% end %>
					</div>
					<div class="<%=notification.inspect%> right_div">
						<p class="user-name user-link">
							<% if notification['post_type'] == Comment::POST_TYPE[:QUESTION] && is_anonymous(notification['post_id']) && is_owner(notification['post_id'], notification['commenter_id']) %>
							<%= "The anonymous" %>
							<% else %>
							<%= link_to User.find(notification["commenter_id"]).full_name, user_path(notification['commenter_id'])%>
							<% end %>
							<span class="post-link user-link">
								<%= notification['text'] %>&nbsp;
								<% if notification['post_type'] == Comment::POST_TYPE[:QUESTION] %>
								<%= link_to 'post', post_path(notification['post_id']) %>
								<% elsif notification['post_type'] == Comment::POST_TYPE[:EXPERIENCE] %>
								<%= link_to 'post', experience_path(notification['post_id']) %>
								<% elsif notification['post_type'] == Comment::POST_TYPE[:JOB] %>
								<%= link_to 'job post', job_path(notification['post_id']) %>
								<% end %>
							</span>

						</p>
						<p class="user-time"><%=timeago_tag Time.at(notification['timestamp']) %></p>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
