<div class="first_sign_in">
  <div class="container-custom">
    <% if current_user.first_sign_in?%>
    <div class="first_sign_in_text alert-gan alert-success-gan" role="alert">
      <p>Hey,hope you're doing good! As this is your first time login, You can Update few things. </p><br>
      <ul>
        <li>Update your profile, we have no clue about you except your Email Id. </li><br>
        <li>Ask question(s), there are a lot of people to help you out !  </li>
      </ul>
    </div>
    <% current_user.update_sign_in_count %>
    <% end %>

    <h1 class="welcome_text">Welcome <%= current_user.full_name %>,</h1>
    <hr>
    <% if(notif_count > 0) %>
      <p class="text-seagreen glass-panel"><%= link_to "You have #{notif_count} Unread notification(s)", notifications_path %></p>
      <hr>
    <% end %>
    <div class="activity">
      <h2 class="activity_heading">Your Activity</h2>
      <div class="activity_content">
        <% @your_activity.each do |post| %>
        <%= render 'posts/show_single_post', post: post, show_full_post: false %>
        <% end %>
      </div>

      <div class="no_question_yet">
        <% if @your_activity.length == 0 %>
        <h3>You haven't asked a query since you have joined.</h3>
        <h4>Use the navigation to ask questions, find users and search questions etc.</h4>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="activity">
      <h2 class="activity_heading">Public Activity</h2>

      <div class="activity_content">
        <% @public_activity.each do |post| %>
        <%= render 'posts/show_single_post', post: post, show_full_post: false %>
        <% end %>

        <% @public_job_posts.each do |job_post| %>
        <%= render 'job_posts/show_job_post', job_post: job_post, preview: 'true' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
