<% content_for :head do %>
  <meta property="og:type"        content="website" />
  <meta property="og:title"       content="GTBIT's very own alumni network" />
  <meta property="og:description" content="An initiative by GTBITians to connect with each other, share opportunities and solve student queries" />
  <title>GTBIT Alumni Network - User login</title>
<% end %>

<div class="login-pane">
  <div class="container">
    <div class="glass-panel main-form">
      <div class="errors_warnings">
        <% if flash[:notice] and !flash[:notice].empty? %>
        <div class = "alert-gan alert-danger-gan"><%= flash[:notice] %></div>
        <% end %>

        <% if flash[:alert] and !flash[:alert].empty? %>
        <div class = "alert-gan alert-danger-gan"><%= flash[:alert] %></div>
        <% end %>
      </div>
      <div class="row sign-in">
        <p class="sign_in_text">Sign in</p>
      </div>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="form-group input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
        <input type="email" class="form-control" placeholder="Email" autofocus="autofocus" name="user[email]" required="true">
      </div>
      <div class="form-group input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" class="form-control" placeholder="Password" autocomplete="off" name="user[password]"required="true">
      </div>
      <% if devise_mapping.rememberable? %>
      <div class="checkbox">
        <label class="check">
          <%= f.check_box :remember_me, class: "remember_me_checkbox" %>
          <p class="remember_me">Remember me</p>
        </label>
      </div>
      <% end %>
      <%= f.submit "Sign in", :class => "btn-sign btn background-seagreen" %>
      <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
  <div class="create">
    <h4>New to Alumni Network?</h4>
    <button data-toggle="modal" data-target="#request_account_modal" class="btn-create btn foreground-seagreen">Request to Create an Account</button>
  </div>
  <div class="login_less">
    <button data-toggle="modal" data-target="#browse_without_login_modal" class="btn-create btn background-seagreen">Browse without logging in</button>
  </div>
</div>

