<div class="update_your_profile">
  <div class="container-custom">
    <h1>Update Your Profile</h1>
    <%= form_for :user, :url => user_path(), html: { multipart: true }, :method => "PUT" do |f|%>
    <%=render 'errors/active_record_errors', model: current_user %>
    <div class="personal_details block_details">
      <div class="details_heading"><span> Personal details </span> </div>
      <div class="form-group">
        <label for="first_name">First Name </label>
        <input type="text" class="form-control" id="first_name" placeholder="Your first name" autofocus="autofocus" autocomplete="off" name="user[first_name]" value="<%= current_user.first_name %>">
      </div>
      <div class="form-group">
        <label for="last_name">Last Name </label>
        <input type="text" class="form-control" id="last_name" placeholder="Your last name" autocomplete="off" name="user[last_name]" value="<%= current_user.last_name %>">
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <input type="text" class="form-control" id="gender" placeholder="Your gender ('Male' or 'Female')" autocomplete="off" name="user[gender]" value="<%= current_user.gender %>">
      </div>
      <div class="form-group">
        <label for="ph_no">Phone No.</label>
        <input type="text" class="form-control" id="ph_no" placeholder="Your contact no." autocomplete="off" name="user[phone]" value="<%= current_user.phone %>">
      </div>
      <div class="form-group">
        <label for="bio">About yourself</label>
        <textarea class="form-control" rows="5" id="bio" placeholder="Your bio." autocomplete="off" name="user[bio]"><%= current_user.bio %></textarea>
      </div>
    </div>
    <hr class="hr">

    <div class="college_details block_details">
      <div class="details_heading"><span> College details </span> </div>
      <div class="form-group">
        <label for="batch">Batch</label>
        <input type="text" class="form-control" id="batch" placeholder="Your batch (Eg. CSE 2011 - 2015)" autocomplete="off" name="user[batch]" value="<%= current_user.batch %>">
      </div>
    </div>
    <hr class="hr">

    <div class="professional_details block_details">
      <div class="details_heading"><span> Professional details </span> </div>
      <div class="form-group">
        <label for="job_type">Work Type</label>
        <input type="text" class="form-control" id="job_type" placeholder="Your work type (Job / Business / Others (Please specify)" autocomplete="off" name="user[job_type]" value="<%= current_user.job_type %>">
      </div>
      <div class="form-group">
        <label for="designation">Designation</label>
        <input type="text" class="form-control" id="designation" placeholder="Your designation" autocomplete="off" name="user[designation]" value="<%= current_user.designation %>">
      </div>
      <div class="form-group">
        <label for="company">Company</label>
        <input type="text" class="form-control" id="company" placeholder="Your company name" autocomplete="off" name="user[company]" value="<%= current_user.company %>">
      </div>
      <div class="form-group">
        <label for="experience">Experience (In years)</label>
        <input type="text" class="form-control" id="experience" placeholder="Your Experience (In years)" autocomplete="off" name="user[experience_in_years]" value="<%= current_user.experience_in_years %>">
      </div>
    </div>

    <div class="social_details block_details">
      <div class="details_heading"><span> Social Networking Details </span> </div>
      <div class="form-group">
        <label for="fb_link">Facebook Username</label>
        <div class="input-group">
          <span class="input-group-addon">https://facebook.com/</span>
          <input type="text" id="fb_link" class="form-control" name="user[fb_link]" placeholder="myAwesomeUsername" name="user[fb_link]" value="<%= @current_user.fb_link %>">
        </div>
      </div>
      <div class="form-group">
        <label for="twitter_link">Twitter Handle</label>
        <div class="input-group">
          <span class="input-group-addon">https://twitter.com/</span>
          <input type="text" id="twitter_link" class="form-control" name="user[twitter_link]" placeholder="myAwesomeUsername" name="user[twitter_link]" value="<%= @current_user.twitter_link %>">
        </div>
      </div>
      <div class="form-group">
      <label for="linked_in_link">Linkedin Account</label>
        <div class="input-group">
          <span class="input-group-addon">https://in.linkedin.com/in/</span>
          <input type="text" id="linked_in_link" class="form-control" name="user[linked_in_link]" placeholder="myAwesomeUsername" name="user[linked_in_link]" value="<%= @current_user.linked_in_link %>">
        </div>
      </div>
    </div>
    Choose your Avatar
    <%= f.file_field :avatar %>
    <p class="avtar_notice small_text">We do not support cropping right now. Please choose square photo for best view. Size limit 1 MB</p>
    <%= submit_tag(@save_string ,{class: "background-seagreen btn-update btn"}) %>
    <% end %>
    <br>
  </div>
</div>

