<div class="update_your_profile">
  <div class="container-custom">
    <h1>Update Your Profile</h1>
    <%= form_for :user, :url => user_path(), :method => "PUT" do |f|%>

    <div class="personal_details block_details">
      <div class="details_heading"><span> Personal details </span> </div>
      <div class="form-group">
        <label for="exampleInputName1">First Name </label>
        <input type="text" class="form-control" id="exampleInputName1" placeholder="Your first name" autofocus="autofocus" autocomplete="off" name="user[first_name]" value="<%= current_user.first_name %>">
      </div>
      <div class="form-group">
        <label for="exampleInputName2">Last Name </label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Your last name" autocomplete="off" name="user[last_name]" value="<%= current_user.last_name %>">
      </div>
      <div class="form-group">
        <label for="exampleInputName4">Gender</label>
        <input type="text" class="form-control" id="exampleInputName4" placeholder="Your gender ('Male' or 'Female')" autocomplete="off" name="user[gender]" value="<%= current_user.gender %>">
      </div>
      <div class="form-group">
        <label for="exampleInputName3">Phone No.</label>
        <input type="text" class="form-control" id="exampleInputName3" placeholder="Your contact no." autocomplete="off" name="user[phone]" value="<%= current_user.phone %>">
      </div>
    </div>
    <hr class="hr">

    <div class="college_details block_details">
      <div class="details_heading"><span> College details </span> </div>
      <div class="form-group">
        <label for="exampleInputName5">Batch</label>
        <input type="text" class="form-control" id="exampleInputName5" placeholder="Your batch (Eg. CSE 2011 - 2015)" autocomplete="off" name="user[batch]" value="<%= current_user.batch %>">
      </div>
    </div>
    <hr class="hr">

    <div class="professional_details block_details">
      <div class="details_heading"><span> Professional details </span> </div>
      <div class="form-group">
        <label for="exampleInputName6">Work Type</label>
        <input type="text" class="form-control" id="exampleInputName6" placeholder="Your work type (Job / Business / Others (Please specify)" autocomplete="off" name="user[job_type]" value="<%= current_user.job_type %>">
      </div>
      <div class="form-group">
        <label for="exampleInputName7">Designation</label>
        <input type="text" class="form-control" id="exampleInputName7" placeholder="Your designation" autocomplete="off" name="user[designation]" value="<%= current_user.designation %>">
      </div>
      <div class="form-group">
        <label for="exampleInputName8">Company</label>
        <input type="text" class="form-control" id="exampleInputName8" placeholder="Your company name" autocomplete="off" name="user[company]" value="<%= current_user.company %>">
      </div>
      <div class="form-group">
        <label for="exampleInputName9">Experience</label>
        <input type="text" class="form-control" id="exampleInputName9" placeholder="Your Experience (In years)" autocomplete="off" name="user[experience_in_years]" value="<%= current_user.experience_in_years %>">
      </div>
    </div>
    <%= submit_tag(@save_string ,{class: "background-seagreen btn-update btn"}) %>
    <% end %>
    <br>
  </div>
</div>

