<div class="page_top_level_div">
  <% if current_user.first_sign_in?%>
  <div class="first_sign_in">
    <p> Hey, hope you're doing good ! As this is the first time you've signed in, you can update few things</p>
    <ul>
      <li>Update your profile, we have no clue about you except your email id (Navigate -> Update Profile) </li>
      <li>Ask your first question, there are alot of people to help you out ! (Navigate -> Ask a question) </li>
    </ul>
  </div>
  <% current_user.update_sign_in_count %>
  <% end %>
  <h3 class="welcome_user">Welcome <%= current_user.full_name %></h3>
  <h2>Your Activity</h2>
  <div class="your_activity">
    <% @your_activity.each do |query| %>
    <div class="your_activity_question">
      <pre><%= link_to query.query_string, query_path(query.id) %></pre>
      <%= link_to "Edit question", edit_query_path(query.id), class: 'float_right' %>
    </div>
    <%end%>

    <% if @your_activity.length == 0 %>
    <h4>You havn't asked a query since you've joined.</h4>
    <p>Use the Navigation menu to ask a question, find users, search questions etc.</p>
    <% end %>
  </div>

  <div class="public_activity">
    <h2>Public Activity</h2>
    <% @public_activity.each do |query| %>
    <div class="public_activity_question">
      <div class="left_div inline_block">
        <img class="public_activity_user"></img>
      </div>
      <div class="right_div inline_block">
        <p><%= query.user.full_name %></p>
        <p><%=timeago_tag query.created_at %></p>
      </div>
      <div class="query_string">
        <pre> <%= link_to query.query_string, query_path(query.id) %> </pre>
      </div>
    </div>
    <%end%>
  </div>
</div>
</div>
