  <div class="user-profile">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
          <div class="profile-sidebar">
            <div class="user">
              <div class="text-center">
                <% if @user.avatar? %>
                <%= image_tag @user.avatar.url(:large), class: 'img-circle user-profile-pic'  %>
                <% else %>
                <%= image_tag 'logov2.png', class: 'img-circle user-profile-pic'  %>
                <% end %>
              </div>
              <div class="user-head text-center">
                <h1><%= @user.full_name %></h1>
                <div class="hr-center"></div>
                <h2><%= @user.batch %></h2>
              </div>
            </div>
            <div class="social-bar">
              <div class="text-center">
                <a href="<%= @user.fb_link %>" target="_blank"> <%= image_tag "fb.png", class: 'small_icon' %> </a>
                <a href="<%= @user.twitter_link %>" target="_blank"> <%= image_tag "twitter.png", class: 'small_icon' %> </a>
                <a href="<%= @user.linked_in_link %>" target="_blank"> <%= image_tag "linked_in.png", class: 'small_icon' %> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
          <div class="profile-content">
           <div class="main-content">
            <ul class="timeline">

              <li class="profile-icon">
                <h1 class="timeline-head">
                  <% if @user == current_user %>
                  Your profile
                  <% else %>
                  <%= @user.first_name %>'s Profile
                  <% end %>
                </h1>
                <div class="timeline-badge">
                  <% if @user.avatar? %>
                  <%= image_tag @user.avatar.url(:thumb), class: 'img-circle user-profile-pic'  %>
                  <% else %>
                  <%= image_tag 'logov2.png', class: 'img-circle user-profile-pic'  %>
                  <% end %>
                </div>
              </li>

              <li class="profile-panel">
                <h1 class="user-name"><strong>About <%= @user.full_name %></strong></h1>
                <h4 class="user-job-type"><%= @user.designation %></h4>
                <h4 class="user-company"><%= @user.company %></h4>
                <div class="hr-left"></div>
                <p class="user-post"><%= @user.bio %></p>
              </li>

              <li class="profile-panel">
                <h1 class="panel-head">Dashboard</h1>
                <div class="hr-left"></div>
                <div class="btn-group">
                  <button type="button" disabled class="btn btn-default profile-btn-two">
                    <strong>
                      <%= @user.question_posts.count %>
                    </strong>
                  </button>
                  <button type="button" disabled class="btn btn-primary profile-btn-one">Questions Posted</button>
                </div>

                <div class="btn-group">
                  <button type="button" disabled class="btn btn-default profile-btn-two">
                    <strong>
                      <%= @user.experience_posts.count %>
                    </strong>
                  </button>
                  <button type="button" disabled class="btn btn-primary profile-btn-one">Experiences Shared</button>
                </div>

                <div class="btn-group">
                  <button type="button" disabled class="btn btn-default profile-btn-two">
                    <strong>
                      <%= @user.job_posts.count %>
                    </strong>
                  </button>
                  <button type="button" disabled class="btn btn-primary profile-btn-one">Job posts added</button>
                </div>
              </li>

              <li class="profile-panel">
                <h1 class="panel-head">Contact</h1>
                <div class="hr-left"></div>

                <div class="btn-group">
                  <button type="button" disabled class="btn btn-primary profile-btn-one">Batch</button>
                  <button type="button" disabled class="btn btn-default profile-btn-two">
                    <strong>
                      <% if @user.batch && !@user.batch.strip == "" %>
                      <%= @user.batch %>
                      <% else %>
                      NA
                      <% end %>
                    </strong>
                  </button>
                </div>

                <div class="btn-group">
                  <button type="button" disabled class="btn btn-primary profile-btn-one">Phone</button>
                  <button type="button" disabled class="btn btn-default profile-btn-two">
                    <strong>
                      <% if @user.phone && !@user.phone.strip == "" %>
                      <%= @user.phone %>
                      <% else %>
                      NA
                      <% end %>
                    </strong>
                  </button>
                </div>

                <div class="btn-group">
                  <button type="button" disabled class="btn btn-primary profile-btn-one">Gender</button>
                  <button type="button" disabled class="btn btn-default profile-btn-two">
                    <strong>
                      <% if @user.gender && !@user.gender.strip == "" %>
                      <%= @user.gender %>
                      <% else %>
                      NA
                      <% end %>
                    </strong>
                  </button>
                </div>

                <div class="btn-group">
                  <button type="button" disabled class="btn btn-primary profile-btn-one">Email</button>
                  <button type="button" disabled class="btn btn-default profile-btn-two"><strong><%= @user.email %></strong></button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
