<div class="page_top_level_div">
	<h1>The user :</h1>

	<p class="name"><%= @user.full_name %></p>
	<p class="phone"><%= @user.phone %></p>
	<p class="gender"><%= @user.gender %></p>
	<p class="batch"><%= @user.batch %></p>
	<p class="batch"><%= @user.batch %></p>
	<p class="job_type"><%= @user.job_type %></p>
	<p class="company"><%= @user.company %></p>
</div>
