<div class="user-post">
    <%= job_post.company_name %>

    <% if job_post.company_website && !job_post.company_website.strip == "" %>
    (<%= job_post.company_website %>)
    <% end %>

    is hiring candidates for the position of <%= job_post.position %>

    <% if job_post.location && job_post.location.strip == "" %>
    in these locations [<%= job_post.location %>].
    <% else %>
    .
    <% end %>

    The nature of job is <%= job_post.job_type %>.

    The job requires <%= job_post.experience_in_months %> months of experience.
    There is <%= job_post.bond_period_in_months %> months of bond period for the job
    Yearly compensation for the job is <%= job_post.compensation %>
    The reporting date and time for the drive are <%= job_post.reporting_date_time %>


    <% if preview == 'false' %>
        <% if job_post.eligibility_criteria && !(job_post.eligibility_criteria.strip == "") %>
            <p class="multiline_text more_details"><b>Eligibility Criteria</b> <%= job_post.eligibility_criteria %> </p>
        <% end %>
        <% if job_post.selection_process && !(job_post.selection_process.strip == "") %>
            <p class="multiline_text more_details"><b>Selection Process</b> <%= job_post.selection_process %> </p>
        <% end %>
        <% if job_post.job_description && !(job_post.job_description.strip == "") %>
            <p class="multiline_text more_details"><b>Job Description</b> <%= job_post.job_description %> </p>
        <% end %>
        <% if job_post.other_details && !(job_post.other_details.strip == "") %>
            <p class="multiline_text more_details"><b>Other Details </b> <%= job_post.other_details %> </p>
        <% end %>
    <% end %>

</div>
