<div class="search-job">
  <div class="container-custom">
    <div class="search_div">
      <%= form_tag(job_index_path, method: 'GET') do %>
      <%= text_field_tag 'search_query', nil, autofocus: true, placeholder: "Search by company name or position", class: "form-control", size: 50, value: params['search_query'] %>
      <%= submit_tag "Search", class: "btn background-seagreen search_query" %>
      <% end %>
    </div>
    <div class="separator_hr"></div>
    <div class="activity_content">
      <% if @show_recent_posts %>
      <h3 class="search_heading">Most recent job posts</h3>
      <% else %>
      <h3 class="search_heading">Search results</h3>
      <% end %>

      <% @job_posts.each do |job_post| %>
      <div class="activity_question transparent-panel">
        <div class="left_div">
          <%= image_tag "logov2.png", class: 'img-circle public_activity_user', alt: 'profile pic' %>
        </div>
        <div class="right_div">
         <p class="user-name"><%= job_post.user.full_name %></p>
         <p class="user-time"><%= timeago_tag job_post.created_at %></p>
       </div>
       <div class="job_details">
         <%= render 'show_job_post', job_post: job_post, preview: 'true' %>
       </div>
       <%= link_to "View Full post", job_path(job_post.id), class: 'view_post background-seagreen' %>
     </div>
     <% end %>
   </div>
 </div>
</div>

