<div class="view_query_chain">
  <div class="container-custom">
    <div class="question">
      <div class="transparent-panel activity_question clearfix">
        <div class="left_div">
          <img src="/assets/logov2.png" alt="profile pic" class="img-circle public_activity_user">
        </div>
        <div class="right_div">
          <p class="user-name user-link"> <%= link_to asked_by(@job_post.user), user_path(@job_post.user.id), class: '' %> posted a Job</p>
          <p class="user-time"><%=timeago_tag Time.at(@job_post.created_at) %></p>
        </div>
        <%= render 'show_job_post', job_post: @job_post, preview: 'false' %>
      </div>
      <br>
      <% @job_post.comments.each do |comment| %>

      <div class="transparent-panel activity_comment ">
        <div class="left clearfix"><span><img src="/assets/logov2.png" alt="profile pic" class="img-circle public_activity_user comment-img pull-left" ></span>

          <div class="right clearfix">
            <div class="header">
              <p class="user-name user-link"><%= link_to comment.user.full_name, user_path(comment.user.id), class: '' %></p>
              <p class=" user-time"><%=timeago_tag comment.created_at%> </p>
              <span class="user-post multiline_text"><%=comment.comment_string%></span>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="form-group add_comment">
        <%= form_for :comment, :url => comments_path(), :method => "POST" do |f| %>
        <input type="hidden" name="[post][id]" value= <%= @job_post.id %>>
        <input type="hidden" name="[post][post_type]" value= <%= Comment::POST_TYPE[:JOB] %>>
        <textarea rows="3" class="form-control" id="query_tags" placeholder="Write a comment" name="comment[comment_string]"></textarea>
        <%= submit_tag("Add", {class: "background-seagreen edit_post btn btn-submit add_comment_button"}) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
