<div class="view_query_chain">
  <div class="container-custom">
    <div class="question">
    <br>
    
    <div class="activity_question">     
        <div class="left_div">
          <img src="/assets/logov2.png" alt="profile pic" class="img-circle public_activity_user">
        </div>
        <div class="right_div">
          <p class="user-name"><%= label_tag asked_by(@post.user) %> asked <%= anonymous?(@post) %></p>
          <p class="user-time"><%=timeago_tag Time.at(@post.created_at) %></p>
       </div>
       <span class="post-string user-post"><%= @post.query_string.strip %></span>  
       <% if @post.post_histories.count > 0 %>
       <a href="#" id="menu" class="background-seagreen edit_post history_btn btn btn-submit"> View edit history </a>
       <% end %>     
    </div>


    <!--
      <%= label_tag asked_by(@post.user) %> asked <%= anonymous?(@post) %>
      <br>

      <span class="post-string user-post"><%= @post.query_string.strip %></span>
      <i> <%=timeago_tag Time.at(@post.created_at) %> </i>
      <br>
      <span class="tags"> <%= @post.tags %> </span>
      <% if @post.post_histories.count > 0 %>
      <a href="#" data-toggle="modal" data-target="#edit_history_modal" class="background-seagreen edit_post btn btn-submit"> View edit history </a>
      <% end %>
    </div>-->

      <%@post.comments.each do |comment|%> 
      <div class="separator_hr"></div>
      <div class="activity_question"> 
        <div class="left_div">
          <img src="/assets/logov2.png" alt="profile pic" class="img-circle public_activity_user">
        </div>
        <div class="right_div">
          <p class="user-name"><%=comment.user.full_name%></p>
          <p class="user-time"><%=timeago_tag comment.created_at%> </p>
       </div>
       <span class="post-string user-post"><%=comment.comment_string%></span>       
    </div>
    <%end%>

    <div class="form-group add_comment">
    <%= form_for :comment, :url => comments_path(), :method => "POST" do |f|%>
      <label for="query_tags">Add your Comments</label>
      <textarea rows="3" class="form-control" id="query_tags" placeholder="Write a comment" name="comment[comment_string]" value= <%= @post.id %> ></textarea>
      <%= submit_tag("Add", {class: "background-seagreen edit_post btn btn-submit"}) %>
      <%end%>
    </div>

  </div>


</div>

<div id="drawer" class="dark_blue side_nav">
  <h2>Off Canvas</h2>
  <p>Click outside the drawer to close</p>
</div>


<!--
<div id="edit_history_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit history </h4>
      </div>
      <div class="modal-body">
        <%= image_tag 'loading.gif', class: 'loading' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-green" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>-->


