<div class="page_top_level_div">
  <div class="show_question">
    <div class="question">
      <%=label_tag asked_by(@query.user)%> asked <%=is_anonymous?(@query)%>
      <br>
      <%=label_tag @query.query_string %> on <%=timeago_tag @query.query_time%>
      <br>
      Tags: <%=label_tag @query.tags%>
    </div>
    <br>
    <div class="comments">
      <%@query.responses.each do |resp|%>
      <div class="comment">
        <%=resp.user.full_name%> : "<%=resp.response_string%>" on <%=timeago_tag resp.created_at%>
      </div>
      <%end%>
    </div>
    <br><br>
    <div class="add_comment">
      <%= form_for :response, :url => responses_path(), :method => "POST" do |f|%>
      <input type="hidden" name="[query][id]" value=<%=@query.id%>>
      <%= f.text_area :response_string, :placeholder => "Write a comment", :size => "30x2" %>
      <br><br>
      <%= submit_tag("Add") %>
      <%end%>

    </div>
  </div>
</div>
