<!DOCTYPE html>
<html>
<head>
  <title>GTBIT Alumni Network</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:100,300,400,600' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <div class="content">
      <div class="left_content">
        <p class="app_heading">GTBIT Alumni Network</p>
      </div>
      <div class="right_content">
        <button class="new_user_button btn btn-green">New User ?</button>
        <% if current_user %>
        <div class="dropdown">
          <button class="navigation_button btn btn-green dropdown-toggle" type="button" data-toggle="dropdown">
            Navigate
            <span class="caret">
            </span>
          </button>
          <ul class="dropdown-menu">
            <li> <%= link_to "Home", root_path %> </li>
            <li> <%= link_to "Ask a question", new_query_path %> </li>
            <li> <%= link_to "View trusted members", trusted_users_path %> </li>
            <li> <%= link_to "Update profile", edit_user_path(current_user) %> </li>
            <li> <%= link_to "Search users", "#" %> </li>
            <li> <%= link_to "Search questions", "#" %> </li>
            <li class="divider"></li>
            <li> <%= link_to 'Help', "#" %> </li>
            <li> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> </li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </header>
  <div class="body_content">
    <%= yield %>
  </div>
  <footer>
    <div class="content">
      <div class="footer_content">
        <h3 class="app_heading_small">GTBIT Alumni Network</h4>
      </div>
      Our vision is to connect oldest alumnis, seniors, batchmates and juniors of GTBIT so that
      anybody can seek suggestion(s) of any kind.
      <nav class="footer_nav">
        <a href="#">About us</a>
        <a href="#">Contact us</a>
        <a href="#">Meet the Developers</a>
        <a href="#">Contribute</a>
        <a href="#">Report a Bug </a>
        <a href="#">FAQs </a>
      </nav>
    </div>
  </footer>
</body>
</html>

<!--
  The code below handles with visiblity of 'New User ?' and 'Navigate' buttons.
  The visiblity depends on the fact if the user is logged in or not. At a time,
  only one button should be visible

-->

<% if current_user %>
<script type="text/javascript">
  $('.new_user_button').css('display','none');
</script>
<% else %>
<script type="text/javascript">
  $('.new_user_button').css('display','inline-block');
</script>

<% end %>
